*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lexend Deca', sans-serif;

}
a{
    text-decoration: none;
    color: white;   
}
body{
    background-color: #171718;
}
.container1{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    gap: 30px ;
}
.container1-hijo2{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 30px ;
}
.container1-hijo2 li:hover{
    text-decoration: underline #47D16E;
    font-weight: bold;
    cursor: pointer;
}
.botoncontacto{
    background-color: #47D16E;
    color: white;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 15px;
    font-family: 'Lexend Deca', sans-serif;
    cursor: pointer;
    border: none;
}

.contacto{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.contacto h1{
    color: #47D16E;
    font-size: 50px;

}

.contacto-s1{
    margin-top: 30px;
    width: 400px;
    height: 500px;
    background-color: #1F1F21;
    border-radius: 20px;
    padding: 0 15px 0 15px;
}
#formulario{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}
.form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
}
.texto{
    height: 40px;
    width: 100%;
    background: transparent;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid white;
    font-family: 'Lexend Deca', sans-serif;    
}
#botonenviar{
    width: 60%;
    background-color: #47D16E;
    color: white;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 15px;
    cursor: pointer;
    border: none;
    margin-top: 20px;
}

.piepagina{
    margin-top: 50px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    color: white;
    flex-wrap: wrap;
}
.piepagina span{
    color: #47D16E;
}

footer hr{
    margin: auto;
    width: 80%;
    border: 1px solid white;
}
.piepagina-s2 li{
    list-style: none;
}

.piepagina-s2 a:hover{
    color: #47D16E;
    font-weight: bold;
    cursor: pointer;
}
.tamaño{
    font-size: 70px;
}
.piepagina img{
    width: 30px;
}

@media only screen and (max-width: 600px){
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        
    }
   
    nav  div  .container1-hijo2{
        display: none;
    }

    .contacto{
       padding: 3px 12px 0 14px;
    }
    .contacto-s1{
        width: 320px;
        height: 500px;
    }

    .piepagina{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        text-align: center;
    }

   
    .piepagina img{
        width: 55px;
    }

}